*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    ;
}

header {
    display: flex;
    justify-content: center;

}
.container {
    background-color: transparent;
    width: 80%;
    height: 45vh;
    border: 2px solid white;
    padding:4%;
    font-size: 48px;
    text-align: justify;
}

.texto-inicial {
    font-size: 18px;
    padding: 2.0%;
    text-align: justify;
    
}